body{
  background-color: #fff;
  font-size: 13px;
}
*{
  margin: 0px;
  padding: 0px;
}
#main{
  width: 900px;
  background-color: #bbb;
  margin: 0px auto;
}
h1{
  text-align: center;
  font-family: "Times New Roman";
  font-size: 19px;
  color:#ff38ee;
}
header{
  width: 100%;
  height: 100px;
  background-color:#F9E9E5;
  color:fff;
  font-size: 12px;
}
#content{
  padding: 10px;
  text-align: justify;
  line-height: 1.3;
  background-color: #fff;
  border:1px solid #ccc;
  min-height: 560px;
  }
#content p{
  font-size: 14px;
  font-family: "Times New Roman", Georgia, Serif;

}
footer{
  background-color: #ccc;
  padding: 10px;

}
nav ul{
  list-style-type: none;
  background-color:#797473;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
nav ul li{
  display: inline-block;
  border-right: 1px solid #bbb;
  font-weight: bold;
}
nav ul li a{
  display: block;
  text-decoration: none;
  color:#fff;
  padding: 14px 16px;
}
nav ul li a:hover{
  text-decoration: none;
  color:#fff;
  background-color: #8D8862;
}
